@import "reset.css";
@import "greetings.css";
@import "clock.css";
@import "todolist.css";
@import "quote.css";
@import "weather.css";


body {
    font-family: 'Roboto Mono', monospace;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display:none;
}

.make-background{
    position:absolute;
    top:0;
    width:100%;
    height:100vh;
    z-index:-1;
}
